﻿body
{
    background-color: #eee;
}

button i.fa.fa-gear
{
    font-size: 130%;
}

.smart-form .input input[readonly]
{
    cursor: not-allowed;
    background-color: #eee;
}

.centered-panel
{
    max-width: 600px;
    margin: 100px auto 0 auto;
}

.alert
{
    opacity: 0;
}

@media only screen and (max-height: 500px)
{
    .centered-panel
    {
        margin-top: 10px;
    }
}

