﻿@inherits System.Web.Mvc.WebViewPage<Consortium.Service.Engine.Models.Inputs.Input>
@using System.Web.Mvc.Html;

<div class="form-group">
    <label class="control-label col-md-2" for="prepend">@(Model.DisplayName)</label>
    <div class="col-md-10">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <input type="checkbox" id="@(Model.HtmlId)" name="@(Model.HtmlName)" value="true" class="form-control" @(Model.HtmlCheckedAttribute) placeholder="@(Model.DisplayName)" @(Model.RequiredHtmlAttribute) @(Model.ReadonlyHtmlAttribute) autocomplete="off" autofocus="autofocus" />
                    <input type="hidden" name="@(Model.HtmlName)" value="false" />
                </div>
            </div>
        </div>
    </div>
</div>
