﻿@inherits System.Web.Mvc.WebViewPage<Consortium.Service.Engine.Models.Inputs.Input>
@using System.Web.Mvc.Html;

<div class="form-group">
    <label class="control-label col-md-2" for="prepend">@(Model.DisplayName)</label>
    <div class="col-md-10">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-append fa fa-tag"></i></span>
                    <input autocomplete="off" autofocus="autofocus" class="form-control" id="@(Model.HtmlId)" name="@(Model.HtmlName)" placeholder="@(Model.DisplayName)" @(Model.RequiredHtmlAttribute) type="text" value="@(Model.Value)" @(Model.ReadonlyHtmlAttribute) />
                </div>
            </div>
        </div>
    </div>
</div>
