﻿@using Consortium.Service.Engine.Extensions;

@model Repl.Tesco.Plugin.Overtime.ViewModels.AddSiteViewModel

@{
    ViewBag.NavigationSection = "Add Site";
}


@using (Html._Panel("Add a new site", "cog"))
{
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(Html.BeginForm("AddSite", "Overtime", FormMethod.Post, new { @class = "form-horizontal" })))
            {
                @Html.AntiForgeryToken()

                for (int i = 0; i < Model.Sites.Count; i++)
                {
                    @Html.HiddenFor(m => Model.Sites[i].Id)
                    @Html.HiddenFor(m => Model.Sites[i].isDefault)
                    @Html.HiddenFor(m => Model.Sites[i].Name)
                    @Html.HiddenFor(m => Model.Sites[i].SiteId)
                }

                <div class="form-group">
                    <label class="control-label col-md-2" for="prepend">Sites</label>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.DropDownListFor(m => m.SelectedSite, Model.SitesDropDownList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <a href="~/Overtime/" class="btn btn-default">Back</a>
                    <input type="submit" class="btn btn-primary" value="Add Site" />
                </div>
            }
        </div>
    </div>
}

@section scripts {

}
