﻿@using Consortium.Service.Engine.Extensions;

@model Repl.Tesco.Models.OvertimeAgreed

@{
    ViewBag.NavigationSection = "Overtime";
}


@using (Html._Panel("Affordable Hours", "cog"))
{
    if (Model != null)
    {
        using (Html.BeginForm("Edit", "Overtime", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label col-md-2" for="prepend">Site</label>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>@Model.Site.Name</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="prepend">Additional affordable hours at single rate</label>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-append fa fa-tag"></i></span>
                                <input autocomplete="off" autofocus="autofocus" class="form-control" id="OvertimeAgreedAmount" name="OvertimeAgreedAmount" placeholder="Additional affordable hours at single rate" type="text" value="@Model.OvertimeAgreedAmount">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input id="Week" name="Week" type="hidden" value="@Model.Week.ToString("u")">
            @Html.HiddenFor(m => Model.Id)
            @*@Html.HiddenFor(m => Model.Week)*@
            @Html.HiddenFor(m => Model.SiteId)
            @Html.HiddenFor(m => Model.Site.Id)
            @Html.HiddenFor(m => Model.Site.SiteId)
            @Html.HiddenFor(m => Model.Site.Name)
            @Html.HiddenFor(m => Model.Site.isDefault)
            <div class="form-actions">
                <a href="~/Overtime/?week=@Model.Week.ToString("u")" class="btn btn-default">Back</a>
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-xs-12">
                <h1>No Site or Record :(</h1>
                <p>Unfortunately you have not added a site with that id, or a record does not yet exist</p>
            </div>
        </div>
    }
}

@section scripts {

}
