﻿@using Consortium.Service.Engine.Extensions;

@model Repl.Tesco.Plugin.Overtime.ViewModels.IndexViewModel

@{
    ViewBag.NavigationSection = "Overtime";
}


@using (Html._Panel("Affordable Hours", "cog"))
{
    <div class="row">
        <div class="col-xs-2">
            <a href="~/Overtime?week=@Model.PreviousWeek.ToString("u")" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
        </div>
        <div class="col-xs-8 text-center">
            <h1>Week @Model.CurrentWeekNumber, @Model.CurrentWeek.ToString(System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)</h1>
        </div>
        <div class="col-xs-2">
            <a href="~/Overtime?week=@Model.NextWeek.ToString("u")" class="btn btn-default pull-right"><i class="fa fa-arrow-right"></i></a>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Site</th>
                        <th>Affordable Hours</th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (Repl.Tesco.Models.OvertimeAgreed oa in Model.OvertimeAgreedRecords)
                {
                    <tr>
                        <td>@oa.Site.Name</td>
                        <td>@oa.OvertimeAgreedAmount</td>
                        <td><a href="~/Overtime/Overtime/Edit?siteId=@oa.SiteId&week=@oa.Week.ToString("u")" class="btn btn-default pull-right">Edit</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-actions">
                <a href="~/Overtime/Overtime/AddSite" class="btn btn-default">Add Site</a>    
            </div>
        </div>
    </div>
}

@section scripts {

}
