﻿@using WfmPlus.Plugin.Auth.ViewModels;
@{
    ViewBag.IncludeNav = false;
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    LayoutViewModel model = LayoutViewModel.Current(ViewData, (object)ViewBag);
}

@section head
{
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="@(Url.Content("~/Content/Css/main.css"))" />
}

@section scripts
{
    <script src="@(Url.Content("~/Content/Scripts/main.js"))"></script>
    <script>
        WfmAuth.jdaRootPath = "@(model.AppSettings.JdaRootPath)";
    </script>
    @(RenderSection("scripts", false))
}

<div class="centered-panel">
    <div id="flash-container">
        @if (model.FlashMessages != null)
        {
            foreach (var message in model.FlashMessages)
            {
                @(Html.Partial("_Flash", message))
            }
        }
    </div>
    @(RenderBody())
</div>

