﻿@using WfmPlus.Plugin.Auth.ViewModels;
@model WfmPlus.Plugin.Auth.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@section scripts
{
    <script>
        WfmAuth.changeExpiredPassword = function(source)
        {
            var username = $("#@(Html.IdFor(m => m.Username))").val();
            var currentPassword = $("#@(Html.IdFor(m => m.CurrentPassword))").val();
            var newPassword1 = $("#@(Html.IdFor(m => m.NewPassword1))").val();
            var newPassword2 = $("#@(Html.IdFor(m => m.NewPassword2))").val();
            var xhrInput = $("#@(Html.IdFor(m => m.Xhr))");

            if (username == null || username.trim() == "" ||
                currentPassword == null || currentPassword.trim() == "" ||
                newPassword1 == null || newPassword1.trim() == "" ||
                newPassword1 != newPassword2)
            {
                xhrInput.val("");
                WfmAuth.submit(source, "ChangeExpiredPassword");
                return;
            }

            WfmAuth.changePassword(currentPassword, newPassword1, newPassword2, function (changePasswordXhr)
            {
                var changePasswordJson = WfmAuth.convertXhrToJson(changePasswordXhr);
                if (changePasswordJson != null && changePasswordJson.response != null && changePasswordJson.response.status == 0)
                {
                    WfmAuth.logIn(username, newPassword1, function (logInXhr)
                    {
                        xhrInput.val(JSON.stringify(WfmAuth.convertXhrToJson(logInXhr)));
                        WfmAuth.submit(source, "ChangeExpiredPassword");
                    });
                }
                else
                {
                    xhrInput.val(JSON.stringify(changePasswordJson));
                    WfmAuth.submit(source, "ChangeExpiredPassword");
                }
            });
        }

    </script>
}

<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
    <header role="heading">
        <span class="widget-icon"><i class="fa fa-edit"></i></span>
        <h2>Change Password</h2>
    </header>
    <div role="content">
        <div class="widget-body no-padding">
            <form class="smart-form" novalidate="novalidate">
                @(Html.HiddenFor(m => m.ActionName))
                @(Html.HiddenFor(m => m.Xhr))
                <fieldset>
                    <section style="@(Model.UsernamePasswordCssDisplay)">
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            @(Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @readonly = "readonly" }))
                        </label>
                    </section>
                    <section style="@(Model.UsernamePasswordCssDisplay)">
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            @(Html.PasswordFor(m => m.CurrentPassword, new { placeholder = "Current password" }))
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            @(Html.PasswordFor(m => m.NewPassword1, new { placeholder = "New password" }))
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            @(Html.PasswordFor(m => m.NewPassword2, new { placeholder = "Retype new password" }))
                        </label>
                    </section>
                </fieldset>
                <footer>
                    <button type="button" class="btn btn-primary" onclick="@(Model.ChangePasswordReason == ChangePasswordReason.Expired ? "WfmAuth.changeExpiredPassword(this);" : "WfmAuth.submit(this, 'ChangeForgottenPassword');")">
                        Change Password
                    </button>
                    <button type="button" class="btn btn-default" onclick="WfmAuth.submit(this, 'Cancel');">
                        Cancel
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>
