﻿@model WfmPlus.Plugin.Auth.ViewModels.JdaUserImportViewModel
<EnterpriseDocument InterfaceName="Employee Interface" Version="2.0" CreationSource="@(Model.CreationSource)" CreationTimestamp="@(Model.CreationTimestampAsString)" AllowPasswordUpdates="y">
  <BusinessUnitList>
    <BusinessUnit id="@(Model.BusinessUnitId)">
      <User id="@(Model.UserBadgeNumber)" firstName="@(Model.UserFirstName)" lastName="@(Model.UserLastName)" loginName="@(Model.UserLoginName)" password="@(Model.UserPassword)" forcePasswordChange="n">
      </User>
    </BusinessUnit>
  </BusinessUnitList>
</EnterpriseDocument>