﻿@model WfmPlus.Plugin.Auth.ViewModels.LogInViewModel
@{
    ViewBag.Title = "Log In";
}

@section scripts
{
    <script>
        WfmAuth.loginClicked = function (source)
        {
            var username = $("#@(Html.IdFor(m => m.Username))").val();
            var password = $("#@(Html.IdFor(m => m.Password))").val();
            var xhrInput = $("#@(Html.IdFor(m => m.Xhr))");

            if (username == null || username.trim() == "" || password == null || password.trim() == "")
            {
                xhrInput.val("");
                WfmAuth.submit(source, "LogIn");
                return;
            }

            WfmAuth.logOut(function ()
            {
                WfmAuth.logIn(username, password, function (logInXhr)
                {
                    xhrInput.val(JSON.stringify(WfmAuth.convertXhrToJson(logInXhr)));
                    WfmAuth.submit(source, "LogIn");
                });
            });
        }
    </script>
}

<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
    <header role="heading">
        <span class="widget-icon"><i class="fa fa-edit"></i></span>
        <h2>Log In</h2>
    </header>
    <div role="content">
        <div class="widget-body no-padding">
            <form class="smart-form" novalidate="novalidate">
                @(Html.HiddenFor(m => m.ActionName))
                @(Html.HiddenFor(m => m.Xhr))
                <fieldset>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            @(Html.TextBoxFor(m => m.Username, new { placeholder = "Username" }))
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            @(Html.PasswordFor(m => m.Password, new { placeholder = "Password" }))
                        </label>
                    </section>
                </fieldset>
                <footer>
                    <button type="button" class="btn btn-primary" onclick="WfmAuth.loginClicked(this);">
                        Log In
                    </button>
                    <button type="button" class="btn btn-default" onclick="WfmAuth.submit(this, 'ResetPassword');">
                        Reset Password
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>
