﻿@model WfmPlus.Plugin.Auth.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
    <header role="heading">
        <span class="widget-icon"><i class="fa fa-edit"></i></span>
        <h2>Reset Password</h2>
    </header>
    <div role="content">
        <div class="widget-body no-padding">
            <form class="smart-form" novalidate="novalidate">
                @(Html.HiddenFor(m => m.ActionName))
                <fieldset>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            @(Html.TextBoxFor(m => m.Username, new { placeholder = "Username" }))
                        </label>
                    </section>
                </fieldset>
                <footer>
                    <button type="button" class="btn btn-primary" onclick="WfmAuth.submit(this, 'ResetPassword');">
                        Reset Password
                    </button>
                    <button type="button" class="btn btn-default" onclick="WfmAuth.submit(this, 'Cancel');">
                        Cancel
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>
