﻿@model WfmPlus.Plugin.Auth.ViewModels.ResetPasswordEmailViewModel
<table cellpadding="0" cellspacing="0" style="font-family: Arial,Helvetica,Sans-Serif; width: 100%;">
    <tr style="background-color: #d6dde7; height: 10px;">
        <td rowspan="4" style="width: 5px; background-color: #9cb4c5; font-size: 1px;">&nbsp;</td>
        <td colspan="2"></td>
    </tr>
    <tr style="background-color: #d6dde7;">
        <td style="width: 10px;"></td>
        <td>
            <h1 style="color: #305d8c; font-size: 26px; margin: 0; padding: 0;">Employee Self Service</h1>
        </td>
    </tr>
    <tr style="background-color: #d6dde7;">
        <td></td>
        <td>
            <h2 style="color: #305d8c; font-size: 20px; margin: 0; padding: 0;">Reset Password</h2>
        </td>
    </tr>
    <tr style="background-color: #d6dde7; height: 10px;">
        <td colspan="2"></td>
    </tr>
    <tr style="height: 10px;">
        <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-size: 1px;">&nbsp;</td>
        <td colspan="2" style="font-size: 13px; line-height: 1.428571429; color: #333;">
            <p>
                Hi @(Model.ToName),
            </p>
            <p>
                You recently requested to reset your password.<br />
                Please set a new password by following this link:
            </p>
            <p>
                <a href="@(Model.ChangePasswordUrl)">@(Model.ChangePasswordUrl)</a>
            </p>
            <p>
                Thanks,<br />
                @(Model.FromName)
            </p>
        </td>
    </tr>
</table>
