<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="@dimen/Allocations_Tills_TillDetails_Width"
    android:layout_height="match_parent"
    android:background="@drawable/panel_background"
    android:layout_marginTop="@dimen/Allocations_Tills_TillList_PaddingMargin"
    android:layout_marginBottom="@dimen/Allocations_Tills_TillList_PaddingMargin"
    android:padding="@dimen/Allocations_Tills_TillDetails_Margin">
    <LinearLayout
        android:id="@+id/aisle"
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:visibility="visible">
    <!-- Aisle details -->
        <TextView
            android:text="@string/details_label"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:textAppearance="@style/TextAppearanceMediumSubHeading"
            android:layout_marginBottom="10dp" />
        <TextInput
            android:id="@+id/aisle_name"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginBottom="5dp"
            labelText="Aisle Name"
            labelWidth="@dimen/Allocations_Tills_TillDetails_Number_LabelWidth"
            inputWidth="@dimen/Allocations_Tills_TillDetails_Number_InputWidth" />
    <!-- Buttons -->
        <LinearLayout
            android:gravity="left"
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="10dp">
            <Button
                android:id="@+id/delete_button"
                android:layout_width="@dimen/Allocations_Tills_TillDetails_Delete_Width"
                android:layout_height="@dimen/Allocations_Tills_TillDetails_Delete_Height"
                android:text="@string/delete_button"
                android:textAppearance="@style/TextAppearanceSmall"
                android:background="@color/primary"
                local:MvxBind="Visibility Visibility(EditMode)" />
        </LinearLayout>
    </LinearLayout>
</FrameLayout>