<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="horizontal"
    android:minHeight="@dimen/Allocations_DateSelection_MinHeight"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:id="@+id/tillDateSelectionTitle"
    android:gravity="center">
    <ImageButton
        android:src="@drawable/arrow_left"
        android:layout_width="wrap_content"
        android:layout_height="match_parent"
        android:id="@+id/prevButton"
        android:background="@color/white"
        android:layout_weight="0.1"
        local:MvxBind="Click OnMovePrev"
        android:tint="#ff74a7ff" />
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="wrap_content"
        android:layout_height="match_parent"
        android:id="@+id/linearLayout1"
        android:layout_gravity="center"
        android:background="@color/white"
        android:layout_weight="0.8">
        <TextView
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:id="@+id/textView1"
            android:textColor="#ff000000"
            android:gravity="top"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:typeface="sans"
            android:textSize="@dimen/Allocations_DateSelection_TextSize"
            android:layout_marginTop="@dimen/Allocations_DateSelection_MarginVertical"
            local:MvxBind="Text Date" />
        <SegmentedControl
            android:orientation="horizontal"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/day_segmented_control"
            android:layout_gravity="center_horizontal"
            android:background="@color/primary"
            local:flowHorizontalSpacing="1"
            local:flowVerticalSpacing="1"
            local:flowGravity="center"
            local:segmentHorizontalPadding="8"
            local:segmentVerticalPadding="8"
            local:segmentSelectedTextColor="#ffffff"
            local:segmentUnSelectedTextColor="@color/primary"
            local:segmentSelectedColor="@color/primary"
            local:segmentUnSelectedColor="#ffffff"
            local:segmentMinWidth="@integer/AllocationControl_Date_Width"
            local:segmentMaxWidth="@integer/AllocationControl_Date_Width"
            android:layout_marginTop="@dimen/Allocations_DateSelection_MarginVertical" />
    </LinearLayout>
    <ImageButton
        android:src="@drawable/arrow_right"
        android:layout_width="wrap_content"
        android:layout_height="match_parent"
        android:id="@+id/nextButton"
        android:background="#ffffffff"
        android:layout_weight="0.1"
        local:MvxBind="Click OnMoveNext"
        android:tint="#ff74a7ff"
        android:clickable="true" />
</LinearLayout>