<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:mvx="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/white">
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="40dp"
        android:background="@color/black">
        <TextView
            android:text="Type"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="0.5"
            android:typeface="sans"
            android:textSize="16dp"
            android:gravity="center_vertical|center"
            android:layout_gravity="center_vertical|center" />
        <FrameLayout
            android:layout_width="1px"
            android:layout_height="match_parent"
            android:background="@color/white"
            android:layout_weight="0" />
        <TextView
            android:text="Available"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_weight="0.5"
            android:typeface="sans"
            android:textSize="16dp"
            android:gravity="center_vertical|center"
            android:layout_gravity="center_vertical|center" />
    </LinearLayout>
    <Consortium.Client.Android.CollectionControl
        android:id="@+id/timeoff_details_accruals"
        android:numColumns="1"
        android:content="@+id/content"
        android:handle="@+id/handle"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:background="@color/white"
        android:choiceMode="singleChoice"
        mvx:MvxBind="Items Accruals; Visibility InvertedVisibility(NoDataLabel)"
        mvx:itemLayoutId="@layout/cell_timeoff_accruals" />
    <TextView
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:typeface="sans"
        android:textSize="20dp"
        android:textColor="@color/black"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:gravity="center_vertical|center"
        android:layout_gravity="center_vertical|center"
        mvx:MvxBind="Text NoDataLabel; Visibility Visibility(NoDataLabel)" />
</LinearLayout>