<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:id="@+id/content"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="horizontal"
        android:background="@color/white">
        <include
            layout="@layout/view_till_allocations_tills_till_list" />
        <include
            layout="@layout/view_till_allocations_tills_till" />
    </LinearLayout>
    <FrameLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/tabTillsLoading"
        android:layout_gravity="fill_vertical"
        android:background="#ffffffff"
        android:visibility="visible">
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent">
            <ProgressBar
                style="?android:attr/progressBarStyleLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/progressBarTillsLoading"
                android:layout_centerVertical="true"
                android:layout_centerHorizontal="true" />
            <TextView
                android:paddingTop="1dp"
                android:paddingBottom="80dp"
                local:MvxBind="Text LoadingMessage"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_centerHorizontal="true"
                android:layout_below="@+id/progressBarTillsLoading" />
        </RelativeLayout>
    </FrameLayout>
</FrameLayout>