<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/white">
    <FrameLayout
        android:minWidth="25px"
        android:minHeight="40dip"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/frameLayout1"
        android:background="@color/primary">
        <TextView
            android:text="@string/environments_button"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/textView1"
            android:layout_gravity="center"
            android:textSize="@dimen/settings_Title_TextSize" />
    </FrameLayout>
    <CollectionControl
        android:numColumns="1"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/environment_list"
        local:itemLayoutId="@layout/cell_environment" />
</LinearLayout>